.button {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;

    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    
    &:active {
        transform: scale(0.98);
    }
    
    &.primary-button {
        background-color: crimson;
        color: whitesmoke;
    }
}
