@use "./button.scss" ;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body,
#root {
    width: 100%;
    background-color: #131313;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


a{
    display: inline-block;
    color: crimson;
    text-decoration: none;
    transition: 0.5s all cubic-bezier(0.19, 1, 0.22, 1);
}
a:hover{
    transform: translateY(-10%);
}