*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,#root {
    height: 100%;
    width: 100%;
}

html{
  background-color: #202020;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
.note{
  background-color: #5b5b5b;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: white;
}