@mixin flex-column($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}


main{
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;


    .form-container{
        @include flex-column(1.5rem);
        
        min-width: 350px;
        
        form{
            @include flex-column(1rem);


            input{
                border: none;
                outline: none;
                padding: 0.5rem 1rem;
                border-radius: 1rem;
            }
        }
    }
}