* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #181818;
    cursor: none;
}

button,
a,
input,
textarea,
select {
    cursor: none;
}

.main {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    button {
        font-size: 30px;
        font-weight: 900;
        letter-spacing: 0.03em;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        outline: none;
        transition: 0.3s all cubic-bezier(0.19, 1, 0.22, 1);
    }

    button:active {
        scale: 0.8;
    }
    button:hover {
        filter: invert(1);
    }
    

    #btn1 {
        background: #000000;
        color: #39FF14;
    }
    
    #btn2 {   
        background: #000000;
        color: #ff5792;
    }
    
    #btn3 {
        background: #000000;
        color: #00FFB2;
    }
}

.mouse-follower,
.mouse-follower-small {
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.mouse-follower {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 3px solid white;
    mix-blend-mode: difference;

    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.mouse-follower-small {
    height: 10px;
    width: 10px;
    background-color: white;

    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}